/* Universal Styles */

html {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    align-content: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
    font-size: 16px;
}

#video {
    align-content: center;    
}

h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

h4 {
    font-size: 21px;
    color: gray;
}

footer {
    color: gray;
    text-align: right;
}
